body {
	background-color: black;
}

main {
	text-align: center;
	background-color: white;
	width: 80%;
	margin: 0 auto;
	min-height: 100vh;
	padding: 0 5%; 
}

.nav {
	text-align: center;
}

p {
	font-family: 'Rammetto One', cursive;
}

img {
	display: block;
	margin: 0 auto; 
}

#pacman {
	width:100%;
}

button {
	padding: 1em 2em 1em 2em;
}

li {
	list-style-position: inside;
}

footer {
	background-color: red;
	min-height: 10vh;
}
   